openapi: 3.0.3
info:
  title: OmniRoute Commerce Platform API
  description: |
    Comprehensive API for the OmniRoute B2B FMCG commerce platform.
    
    ## Authentication
    All endpoints require a valid JWT token in the Authorization header:
    ```
    Authorization: Bearer <token>
    ```
    
    ## Multi-tenancy
    Tenant context is derived from the JWT token's `tenant_id` claim.
  version: 1.0.0
  contact:
    name: OmniRoute API Support
    email: api@omniroute.io
  license:
    name: Proprietary
    
servers:
  - url: https://api.omniroute.io/v1
    description: Production
  - url: https://staging-api.omniroute.io/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local Development

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Products
    description: Product catalog management
  - name: Orders
    description: Order management
  - name: Inventory
    description: Stock and inventory management
  - name: Customers
    description: Customer management
  - name: Pricing
    description: Dynamic pricing engine
  - name: Payments
    description: Payment processing
  - name: Workers
    description: Gig worker management
  - name: Analytics
    description: Dashboards and reports
  - name: Fleet
    description: Fleet and vehicle management

paths:
  # Authentication
  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'

  # Products
  /products:
    get:
      tags: [Products]
      summary: List products
      parameters:
        - name: category_id
          in: query
          schema:
            type: string
            format: uuid
        - name: brand_id
          in: query
          schema:
            type: string
            format: uuid
        - name: search
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Product list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
    post:
      tags: [Products]
      summary: Create product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateRequest'
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  /products/{id}:
    get:
      tags: [Products]
      summary: Get product by ID
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'

  # Orders
  /orders:
    get:
      tags: [Orders]
      summary: List orders
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending, confirmed, shipped, delivered, cancelled]
        - name: customer_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Order list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
    post:
      tags: [Orders]
      summary: Create order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Get order by ID
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/{id}/cancel:
    post:
      tags: [Orders]
      summary: Cancel order
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Order cancelled

  # Inventory
  /inventory/stock:
    get:
      tags: [Inventory]
      summary: Get stock levels
      parameters:
        - name: product_id
          in: query
          schema:
            type: string
            format: uuid
        - name: warehouse_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Stock levels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockLevelListResponse'

  /inventory/stock/adjust:
    post:
      tags: [Inventory]
      summary: Adjust stock level
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockAdjustmentRequest'
      responses:
        '200':
          description: Stock adjusted

  # Pricing
  /pricing/calculate:
    post:
      tags: [Pricing]
      summary: Calculate price
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceCalculationRequest'
      responses:
        '200':
          description: Calculated price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceCalculationResponse'

  # Customers
  /customers:
    get:
      tags: [Customers]
      summary: List customers
      responses:
        '200':
          description: Customer list
    post:
      tags: [Customers]
      summary: Create customer
      responses:
        '201':
          description: Customer created

  /customers/{id}:
    get:
      tags: [Customers]
      summary: Get customer by ID
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Customer details

  /customers/{id}/credit:
    get:
      tags: [Customers]
      summary: Get customer credit info
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Credit information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCredit'

  # Analytics
  /analytics/dashboards/executive:
    get:
      tags: [Analytics]
      summary: Get executive dashboard
      responses:
        '200':
          description: Dashboard data

  /analytics/reports:
    get:
      tags: [Analytics]
      summary: List available reports
      responses:
        '200':
          description: Report list

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
        token_type:
          type: string
          default: Bearer

    Product:
      type: object
      properties:
        id:
          type: string
          format: uuid
        sku:
          type: string
        name:
          type: string
        description:
          type: string
        base_price:
          type: number
          format: decimal
        category:
          $ref: '#/components/schemas/Category'
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    ProductCreateRequest:
      type: object
      required: [sku, name, base_price]
      properties:
        sku:
          type: string
        name:
          type: string
        description:
          type: string
        base_price:
          type: number
        category_id:
          type: string
          format: uuid

    Category:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        order_number:
          type: string
        status:
          type: string
        customer_id:
          type: string
          format: uuid
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        total_amount:
          type: number
        created_at:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        product_id:
          type: string
          format: uuid
        quantity:
          type: integer
        unit_price:
          type: number
        total_amount:
          type: number

    OrderListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    OrderCreateRequest:
      type: object
      required: [customer_id, items]
      properties:
        customer_id:
          type: string
          format: uuid
        items:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
              quantity:
                type: integer
        shipping_address:
          type: object

    StockLevelListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
              quantity_on_hand:
                type: integer
              quantity_reserved:
                type: integer
              quantity_available:
                type: integer

    StockAdjustmentRequest:
      type: object
      required: [product_id, quantity, reason]
      properties:
        product_id:
          type: string
          format: uuid
        warehouse_id:
          type: string
          format: uuid
        quantity:
          type: integer
        reason:
          type: string

    PriceCalculationRequest:
      type: object
      required: [product_id, quantity]
      properties:
        product_id:
          type: string
          format: uuid
        quantity:
          type: integer
        customer_id:
          type: string
          format: uuid

    PriceCalculationResponse:
      type: object
      properties:
        base_price:
          type: number
        discount_amount:
          type: number
        tax_amount:
          type: number
        total_price:
          type: number
        applied_rules:
          type: array
          items:
            type: string

    CustomerCredit:
      type: object
      properties:
        credit_limit:
          type: number
        credit_used:
          type: number
        credit_available:
          type: number
        payment_terms_days:
          type: integer

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

security:
  - bearerAuth: []
